In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./data/Bitcoin_dataset_updated.csv')

In [3]:
df

,Date,BTC price [USD],n-transactions,fee [USD],btc search trends,Gold price[USD],SP500 close index,Oil WTI price[USD],M2(Not seasonally adjusted)[1e+09 USD]
0,2014-01-02,749.27,54770.0,0.18,8,1225.0,1831.98,95.14,11089.3
1,2014-01-03,781.23,60980.0,NaN,8,1238.4,1831.37,93.66,11089.3
2,2014-01-04,807.39,52052.0,NaN,8,NaN,NaN,NaN,11089.3
3,2014-01-05,828.74,58662.0,0.38,8,NaN,NaN,NaN,11089.3
4,2014-01-06,904.98,67358.0,NaN,8,1237.8,1826.77,93.12,11089.3
...,...,...,...,...,...,...,...,...,...
2305,2020-04-25,7507.08,280805.0,0.75,16,NaN,NaN,NaN,17269.8
2306,2020-04-26,7549.52,252833.0,0.62,16,NaN,NaN,NaN,17269.8
2307,2020-04-27,7699.27,311217.0,0.69,16,1723.8,2878.48,12.17,17269.8
2308,2020-04-28,7790.66,323475.0,0.66,16,1722.2,2863.39,12.40,17269.8
2309,2020-04-29,7765.33,331401.0,1.30,16,1713.4,2939.51,15.04,17269.8